*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}


/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar  .nav-item:hover .dropdown-menu{ display: block;}
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	
/* ============ desktop view .end// ============ */

/* .dropdown-menu{
    position: absolute;
    top: 60px;
} */

.navbar-color{
    /* background-color: #1A1A26; */
    position: fixed;
    z-index:100;
    top: 0px;
}

#logo{
    width: 150px;
    height: auto;
}
a{
    color: white;
}
a:hover {
    color: #337ab7 !important;
}
/* ===========Index page Slider========== */
.slider-filter{
    filter: contrast(150%) brightness(0.5);
    height: 100vh;

}
.carousel-caption-text {
    position: absolute;
    bottom: 30vh;
}
/* ===============IndexPageSliderEnd========== */
.IndexPageSection3Column1{
    /* background: url('img/indexpage/sliderImage3.jpg'); */
    height: 100vh;
}

.IndexPageSection3Column2{
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('img/indexpage/sliderImage2.jpg') ;
    background-size:cover;
    background-position: center center;
    color: white;
     
}
.IndexPageSection3Column3{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('img/indexpage/sliderImage3.jpg');
    height: 100vh;
    color: white;
    
}

.IndexPageSection3Column1Text{
    border: 3px solid black;
}


/* ===================clients section============ */
.card-height   {
    min-height: 400px;
}



/* =====================Footer=============== */
#footer {
    background-color: var(--blackColor);
}
.footerlinks {
    color: #fff;
}
footer img {
    width: 200px;
}
hr.new1 {
    border-top:1px solid white
}