*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.headerBg {
    background-color: black;
    overflow: hidden;
}
    #header {
    border:2px solid red;
    
}

#navigation {
    border: 2px solid blue;
}
li {
    list-style: none;
}
li>a:hover {
    text-decoration: none;
}
li>a {
    text-decoration: none;
    color: white;
}
li>a:hover {
    color: rgb(238, 230, 230);
}
#header {
    display: flex;
    justify-content: space-between;
}
#navigation ul{
    display: flex;
    padding: 1px;
}
#navigation ul li {
    padding: 10px 20px;
}
#logo {
    color: cornsilk;
}


li>button {
    background: transparent;
    border: none;
    color: white;
}

.dropdown-content {
    display: none;
}
.dropdown-content a {
    display: block;
}
.dropdown-content a:hover {
    background-color:red;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown {
    overflow: hidden;
}

  
